.container{
    margin-top: 100px;
    margin: auto;
    display: flex;
    padding: 100px;
}

.letterI{
    margin-bottom: 0;
}

.letterI:hover{
    animation: dws-bounce-i .8s linear;
}

.letterH{
    margin-bottom: 0;
}

.letterH:hover{
    animation: dws-bounce-h .8s linear;
}

.letterP{
    margin-bottom: 0;
}

.letterP:hover{
    animation: dws-bounce-p .8s linear;
}

@keyframes dws-bounce-i {
    0% { margin-top: 0px; }
    10% { margin-top: 15px; }
    20% { margin-top: 25px; }
    30% { margin-top: 30px; }
    40% { margin-top: 33px; }
    50% { margin-top: 35px; }
    60% { margin-top: 34px; }
    70% { margin-top: 30px; }
    80% { margin-top: 24px; }
    90% { margin-top: 10px; }
    100% { margin-top: 0px; }
  }

  @keyframes dws-bounce-h {
    0% { margin-top: 0px; }
    10% { margin-top: 20px; }
    20% { margin-top: 35px; }
    30% { margin-top: 40px; }
    40% { margin-top: 45px; }
    50% { margin-top: 48px; }
    60% { margin-top: 46px; }
    70% { margin-top: 40px; }
    80% { margin-top: 29px; }
    90% { margin-top: 16px; }
    100% { margin-top: 0px; }
  }

  @keyframes dws-bounce-p {
    0% { margin-top: 0px; }
    10% { margin-top: 8px; }
    20% { margin-top: 14px; }
    30% { margin-top: 18px; }
    40% { margin-top: 21px; }
    50% { margin-top: 22px; }
    60% { margin-top: 21px; }
    70% { margin-top: 17px; }
    80% { margin-top: 13px; }
    90% { margin-top: 7px; }
    100% { margin-top: 0px; }
  }


