<div style="text-align:center; align-items: center;" class="container">
	<div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
	<div><img [src]="url" *ngIf="url" class="img"></div>
	<p>
		<input type="file" (change)="selectFile($event)">
	</p>
</div>