<div class="container">
    <label for="image_uploads">OpenFile </label>
    <input type="file" id="image_uploads" name="image_uploads" accept=".jpg, .jpeg, .png" multiple (change)="selectFile($event)">

    <button (click)="saveFile()">Сохранить изображение</button>
</div>

<canvas id="canvas" #canvas width="1000" height="600"></canvas>